#minesweeper-board {
    background-color: rgb(60,60,100);
    height: auto;
    width: auto;
    display: flex;
    flex-direction:column;
    margin:auto;
  }
  
  .mine-row {
      height: 3rem;
      padding: 2px;
      margin-left:1px;
      display: flex;
  }
  
  .tile {
      height: 2.5rem;
      width: 2.5rem;
      margin: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px black solid;
  }

  .tile-contents {
    font-size: 1.5rem;
    margin: auto;
  }
  
  .unrevealed {
      background-color: rgb(120,120,120);
  }

  .revealed {
    background-color: rgb(180,180,180);
}